RepoPattern/RepoPattern.WinForm/Service References/UrunServiceReference/UrunService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2703/UrunService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RepoPattern.DTO" />
  <xs:element name="Liste">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RepoPattern.DTO" minOccurs="0" name="ListeResult" nillable="true" type="q1:ArrayOfUrunDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RepoPattern.DTO" minOccurs="0" name="dto" nillable="true" type="q2:UrunDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EkleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EkleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guncelle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuncelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuncelleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RepoPattern.DTO" minOccurs="0" name="dto" nillable="true" type="q3:UrunDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>